<div>
    <md-toolbar layout="row" layout-align="start stretch"
            class="md-whiteframe-z1">

        <header>
            <h1 class="md-toolbar-tools">Logo</h1>
        </header>

        <div ng-repeat="breadcrumb in breadcrumbs"  layout="column" layout-align="center center">
            <md-button ui-sref="{{breadcrumb.link}}"> {{breadcrumb.title}}</md-button>
        </div>

        <span flex></span>

        <div layout="column" layout-align="center center">
            <md-button class="md-icon-button"
                       ng-click="toggleRight()"
                       aria-label="user navigation button">
                <md-icon>
                    <i class="fa fa-user"></i>
                </md-icon>
            </md-button>
        </div>

    </md-toolbar>
</div>