<!DOCTYPE html>
<html lang="ru" ng-app="KeyStyle">
<head>

    <title>User profile</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="../../../static/css/font-awesome.css" rel="stylesheet"/>
    <link href="../../../static/css/jquery.Jcrop.css" rel="stylesheet"/>
    <!-- Bootstrap -->
    <link href="../../../static/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../static/bower/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet"/>
    <link href="../../../static/bower/ion.rangeslider/css/ion.rangeSlider.skinHTML5.css" rel="stylesheet"/>

    <script type="text/javascript" src="../../../static/bower/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/bower/jquery-ui/jquery-ui.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../../static/bower/moment/min/moment-with-locales.min.js"></script>
    <script src="../../../static/bower/jcrop/js/jquery.Jcrop.min.js"></script>
    <script src="../../../static/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../../static/bower/ion.rangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="../../../static/bower/angular/angular.min.js"></script>
    <script src="../../../static/js/controllers/employee_registration.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
    <style>
        .jcrop-centered {
            left: 50%;
        }

        .input-group {
            width: 100%;
        }

        #nav-login-form tr td {
            padding: 5px 0 0 0;
        }

        #nav-login-form tr td input:-moz-placeholder {
            padding-left: 5px;
        }

        #nav-login-form tr td input::-webkit-input-placeholder {
            padding-left: 5px;
        }

        .dropdown-menu .fa {
            padding-right: 5px;
        }

        .matches {
            background-color: dodgerblue;
        }
    </style>
</head>
<body ng-controller="EmployeeRegistration">
<div class="container">
    <div class="row">
        <div class="col col-xs-10 col-xs-offset-1 col-md-8  col-md-offset-2 col-lg-6 col-lg-offset-0">
            <div style="margin-top: 15px;" class="jumbotron">
                <form action="" method="get" class="form-horizontal">
                    <fieldset>
                        <legend>Реестрація співробітника</legend>

                        <div class="thumbnail" style="background-color: #6DB3DF; color: white;">
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Email</label>

                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="inputPassword" class="col-lg-2 control-label">Password</label>

                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="inputPassword"
                                           placeholder="Password">
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0">
                                <label for="inputPasswordConfirm" class="col-lg-2 control-label">Confirm</label>

                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="inputPasswordConfirm"
                                           placeholder="Confirm password">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-lg-2 control-label">Name</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputName" placeholder="Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputSurname" class="col-lg-2 control-label">Surname</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputSurname" placeholder="Surname">
                            </div>
                        </div>

                        <div class="form-group" id="description-wrapper">
                            <label for="description" class="col-lg-2 control-label">Опис</label>

                            <div class="col-lg-10">
                                <textarea ng-model="description"
                                          ng-keyup="updateDescription()"
                                          style="resize: vertical"
                                          class="form-control" rows="3"
                                          id="description"></textarea>
                                <span class="alert help-block"
                                      ng-class="{'alert-danger':descriptionHasError(),'alert-warning':!descriptionHasError()}"
                                      id="description-advice">
                                    There is
                                    <span style="display: inline;"
                                          id="description-advice-num">{{descriptionLeft}}</span>
                                    characters left
                                </span>

                            </div>
                        </div>


                        <div class="form-group">
                            <label for="menus-search" class="col-lg-2 control-label">Послуги</label>

                            <div class="col-lg-10">
                                <input type="text" ng-model="query" style="border-bottom: hidden" id="menus-search"
                                       class="form-control"
                                       placeholder="Пошук"/>

                                <ul id="services-wrapper" style="height: 200px; overflow: auto" class="form-control">
                                    <li ng-repeat="service in services | filter:{name:query}" data-service="Масаж"
                                        class="checkbox">
                                        <label>
                                            <input ng-model="service.checked" type="checkbox"> <span
                                                class="service-tittle">{{service.name}}</span>
                                        </label>
                                    </li>
                                </ul>
                                <span class="help-block">Виберіть послуги які може надавати співробітник</span>
                            </div>
                        </div>

                        <div style="height: 120px" class="form-control">
                            <timePicker></timePicker>
                            <span class="help-block">Виберіть свій графік роботи</span>
                        </div>
                        <br/>

                        <div class="form-control">
                            <input id="input-image" type="file"/>
                            <input type="hidden" id="w"/>
                            <input type="hidden" id="h"/>
                            <input type="hidden" id="x"/>
                            <input type="hidden" id="y"/>
                        </div>
                        <br/>

                        <div style="text-align: right" class="form-group">
                            <div style="float: right" class="col-lg-10">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="crop-it">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <button style="margin-top: -9px;" type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <strong>Увага!</strong> Виділіть границі за якими ваша фотографія буде оброблена
            </div>
            <div class="modal-body">
                <div class="jcrop-wrapper">
                    <img src="" id="crop-this-shit"/>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <a data-dismiss="modal" class="btn btn-success">Ok!</a>
                    <a class="btn" data-dismiss="modal" id="modal-csl">Відміна</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var jcrop_api;

    $(document).ready(function () {

        var src;
        var image;


        var imageInput = $("#input-image");
        $("#modal-csl").click(function () {
            imageInput.src = undefined;
        });
        imageInput.change(function () {
            if (jcrop_api != undefined) {
                jcrop_api.destroy();
            }

            $("#crop-it").modal('show');

        });

        $("#crop-it").on("show.bs.modal", function () {
            src = document.getElementById("input-image");
            image = document.getElementById("crop-this-shit");

            var fr = new FileReader();
            // when image is loaded, set the src of the image where you want to display it
            fr.readAsDataURL(src.files[0]);
            fr.onload = function (e) {
                image.src = this.result;
                initJcrop(image);
            };
        });
    });


    function showCoords(c) {
        $('#x').val(c.x);
        $('#y').val(c.y);
        $('#w').val(c.w);
        $('#h').val(c.h);
    }

    function initJcrop(img) {
        jQuery(img).Jcrop({
            addClass: 'jcrop-centered',
            aspectRatio: 3.5 / 4,
            onChange: showCoords,
            setSelect: [0, 35, 40, 0],
            onSelect: showCoords
        }, function () {
            jcrop_api = this;
            $(".jcrop-centered").css({
                marginLeft: -img.width / 2
            });

        });
    }

</script>
</body>
</html>