#password-group {
    margin: 3px 0 0 auto;
}

#password{
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

#conf-password {
    border-top-right-radius: 0px;
}


.valid-warning {
    display: none;
    margin-top:3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#form-container {
    margin-top: 12px;
}

#basic-addon2 {
    border-bottom:0 none;
    border-bottom-left-radius: 0;
}
#basic-addon3 {
    border-top-left-radius: 0;
}

.warning {
    border-bottom: 0 none;
    margin-bottom: -4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: 1px;
    font-size: 12px;
    background-color: #9d9e9e;
    color:white;
    border: none;
}




.input-address .input-group{
    margin-bottom: 5px;
}

#register {
    float:right;
    margin-bottom: 3px;
}

.info {
    color: #bbbbbb;
    font-size: 12px;
    margin-bottom: 2px;
}

#warning-sighn{
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}