<md-content flex
            layout="row" layout-align="center center">

    <md-content flex="90" flex-gt-sm="70" flex-gt-md="60"
                layout="column" layout-align="center center"
                class="md-whiteframe-z2">

        <md-toolbar>
            <h3 class="md-toolbar-tools">
                Registration of new user
            </h3>
        </md-toolbar>

        <form style="width: 100%;"
              ng-submit="submitForm()"
              layout="column"
              name="userForm"
              class="md-inline-form">

            <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                <md-tab ng-disabled="deactivatedTabsMain" md-active="isActive('mainData')" flex label="Main data">
                    <md-content>
                        <md-content md-theme="docs-dark" layout="row" layout-align="space-around center" layout-padding
                                    layout-wrap>

                            <md-input-container class="md-block darkAutofill" flex flex-gt-sm="50">
                                <label>Username</label>
                                <input class="darkAutofill"
                                       name="username" type="text"
                                       username
                                       required
                                       minlength="2"
                                       maxlength="30"
                                       ng-model="user.userName"/>

                                <div class="hint" ng-if="showHints">Enter a username</div>

                                <div ng-messages="userForm.username.$error" ng-if="!showHints">
                                    <div ng-message="required">Username is required.</div>
                                    <div ng-message="minlength">Username should contain more than 2 charachters</div>
                                    <div ng-message="md-maxlength">The username has to be less than 30 characters long.</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="darkAutofill" flex flex-gt-sm="50">
                                <label>Email</label>
                                <input type="email"
                                       name="email"
                                       minlength="5"
                                       maxlength="35"
                                       required
                                       ng-model="user.userEmail"/>

                                <div class="hint" ng-show="showHints">email@mail.com</div>

                                <div ng-messages="userForm.email.$error" ng-hide="showHints">
                                    <div ng-message="required">Emial is required.</div>
                                    <div ng-message="email">Fielf must be an email</div>
                                    <div ng-message="md-maxlength">The email has to be less than 35 characters long.
                                    </div>
                                </div>
                            </md-input-container>
                        </md-content>

                        <md-content layout="column" layout-padding layout-wrap>

                            <md-input-container flex flex-gt-sm="50"
                                                style="margin-bottom: 0">
                                <label>Password</label>
                                <input name="pass"
                                       type="password" required
                                       md-maxlength="20"
                                       minlength="7"
                                       ng-model="user.userPass"/>

                                <div class="hint" ng-if="showHints">Enter password</div>
                                <div ng-messages="userForm.pass.$error" ng-show="!showHints">
                                    <div ng-message="required">Password is required</div>
                                    <div ng-message="minlength">Password is too short</div>
                                    <div ng-message="md-maxlength">Password is too long</div>
                                </div>
                            </md-input-container>


                            <md-input-container flex flex-gt-sm="50">
                                <label>Confirm password</label>
                                <input type="password" name="passConf" required ng-model="userPassConf"/>

                                <div class="hint" ng-if="showHints">Confirm password</div>
                                <div ng-messages="userForm.passConf.$error" ng-show="!showHints">
                                    <div ng-message="required">Confirm your password please</div>
                                    <div ng-message="userForm.passConf.value == userForm.pass.value">Passwords are not equal</div>
                                </div>
                            </md-input-container>

                            <div layout="row" layout-align="end center">
                                <md-button ng-disabled="!userForm.$dirty" ng-click="checkUserData(userForm)">Next
                                </md-button>
                            </div>
                        </md-content>
                    </md-content>
                </md-tab>

                <md-tab ng-disabled="deactivatedTabsPhoto" md-active="isActive('selectPhoto')" flex
                        label="Select photo">
                    <md-content md-theme="docs-dark" layout="column" layout-align="center center" layout-padding>

                        <div id="imgCropWrapper"
                             ngf-drop ngf-pattern="image/*"
                             ng-model="picFile">
                            <img-crop image="picFile | ngfDataUrl"
                                      result-image="croppedDataUrl"
                                      ng-init="croppedDataUrl=''"></img-crop>
                        </div>

                        <md-button id="selectPhotoBtn"
                                   ngf-select ng-model="picFile"
                                   accept="image/*">Select photo
                        </md-button>
                        <div style="width: 100%" layout="row" layout-align="end center">
                            <div>
                                <md-button ng-click="upload(croppedDataUrl,userForm.$valid)"
                                           id="nextButtonPhoto">Next
                                </md-button>
                                <small>skip this step</small>
                            </div>
                        </div>

                    </md-content>
                </md-tab>

                <md-tab ng-disabled="deactivatedTabsConfirm" md-active="isActive('confirmEmail')" flex
                        label="Confirm email">
                    <md-content layout="column" layout-padding>
                        <h3>Almoust compleate!</h3>

                        <p>Please follow the link we have have send you to confirm your email</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </form>
    </md-content>
</md-content>