
@media screen and (max-width: 767px) {
    .masonry[data-columns]::before{
        content: '1 .col-xs-12';
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .masonry[data-columns]::before{
        content: '2 .col-xs-6';
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .masonry[data-columns]::before{
        content: '3 .col-xs-4';
    }
}
@media screen and (min-width: 1200px) {
    .masonry[data-columns]::before{
        content: '3 .col-xs-4';
    }
}




#category-tabs {
    margin-bottom: 10px;
}


.comment {
    border: 1px solid #ddd;
    margin: 0 0;
    padding: 3px;
    vertical-align: middle;
}

.description-wrapper{
    border: 1px solid #ddd;
    margin: 0 0;
    padding: 0;
}

.comment-wrapper {
    padding: 0;
}

.like-ikon {
    position: relative;
    float:right;
    padding-top: 3px;
}

#authorization-span {
    padding: 0 120px;
    font-size: 0;
}
#authorization-form{
    padding: 0 7px;
}

.place-name-caption {
    padding-left: 5px;
}

#authorization-divider {
    background-color: #ddd;
}

.menu-title {
    display: inline;
}
#authorization-email{
    margin:5px 0 3px -122.3px;
    left: 50%;
}

#authorization-password {
    margin-left: -122.3px;
    left: 50%;
}

@media screen and (max-width: 767px) {
    #authorization-email {
        margin: 5px 0 3px 0px;
        left: 0;
    }

    #authorization-password {
        margin-left: 0;
        left: 0;
    }

    #user-menu-dropdown{
        padding: 0;
        margin: 0;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;

    }
}


#navbar-menu {
    margin-top: 0;
    padding-top: 10px;
    background-image: url("../images/background.gif");
    background-repeat: repeat;
}

#plaes-container {
    margin-top: 10px;
}

.user-info-row {
    margin: 3px 0 10px 0;
}

.user-places-row{
    padding-left: 9px;
}


