
.hint {
    position: absolute;
    left: 8px;
    right: auto;
    bottom: 14px;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: grey;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill{
    color: rgba(0,0,0,0.87);
    background-color: rgba(0, 0, 0, 0);
}

md-autocomplete[md-floating-label] md-input-container{
    padding-bottom: 8px !important;
}

.hint.ng-hide,
.hint.ng-enter,
.hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0;
}

.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1;
}

#radioSex .md-label {
    line-height: 24px;
}

#selectPhotoBtn {
    z-index: 9;
    padding: 0 12px;
    position: absolute;
    right: 30px;
    top: 12px;
}

#imgCropWrapper {
    border: 2px #ddd dashed;
    width: 90%;
    height: 400px;
    margin-top: 10px;
}

#nextButtonPhoto {
    display: block;
    margin-bottom: 0;
    padding-right: 0;
}